# Ignore Node.js dependencies
node_modules/

# Ignore configuration files
config/config.env
*.env

# Ignore IDE-specific files
.vscode/

# Ignore log files
*.log

# Ignore macOS-specific files
.DS_Store
